@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);

body {
    background-color: #212121;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.guild {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    padding: 10px;
    min-width: 250px;
    max-width: 310px;
    min-height: 250px;
    max-height: 300px;
    width: 100%;
    background-color: #fff;
    color: #212121;
    text-align: center;
    font-size: 16px;
    box-shadow: 3px 3px #f2395a;
}

.guild *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

dl { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    margin: 1em 0px; padding: 0; 
    list-style: none; 
}

dt {
    font-size: 30px;
    font-family: "Oswald";
    text-transform: uppercase;
    color: #f2395a;
    -webkit-transform: skew(-5deg, -5deg) rotate(5deg);
            transform: skew(-5deg, -5deg) rotate(5deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
     text-shadow: 1px 1px #d10e31,
                  2px 2px #d10e31,
                  3px 3px #d10e31,
                  4px 4px #d10e31,
                  5px 5px #d10e31,
                  11px 11px 15px rgba(0,0,0,0.5);
}

dt, dd { 
    display: flex; 
    line-height: 1.5; 
    position: relative; 
}

.icons img {
    height: 30px;
    width: 30px;
}

.icons a:hover {
    border-style: groove;
    border-width: 1px;
    border-color: #404040;
}

.icons a {
    text-decoration: none;
}